<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Editor de Perfiles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list *ngIf="authService.userRole === 'admin'">
    <ion-list-header>
      <ion-label>Lista de Usuarios</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let user of users">
      <ion-label>
        <h2>{{ user.email }}</h2>
        <p>Rol: {{ user.role }}</p>
      </ion-label>
      <ion-button fill="clear" (click)="selectUser(user)">Editar</ion-button>
      <ion-button fill="clear" color="danger" (click)="deleteUser(user.email)">Eliminar</ion-button>
    </ion-item>
  </ion-list>

  <ng-container *ngIf="selectedUser && authService.userRole === 'admin'">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Editar Usuario</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="stacked">Correo</ion-label>
          <ion-input [value]="selectedUser.email" readonly></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Rol</ion-label>
          <ion-select [(ngModel)]="selectedUser.role" (ionChange)="updateRole($event.detail.value)">
            <ion-select-option value="user">Usuario</ion-select-option>
            <ion-select-option value="admin">Administrador</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-button expand="block" (click)="saveUser()" class="ion-margin-top">Guardar Cambios</ion-button>
      </ion-card-content>
    </ion-card>
  </ng-container>


  <ng-container *ngIf="authService.userRole === 'user'">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Cambiar Contraseña</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="stacked">Nueva Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="newPassword"></ion-input>
        </ion-item>

        <ion-button expand="block" (click)="updatePassword()" class="ion-margin-top">Actualizar Contraseña</ion-button>
      </ion-card-content>
    </ion-card>
  </ng-container>


  <ion-card *ngIf="authService.userRole !== 'admin' && authService.userRole !== 'user'">
    <ion-card-header>
      <ion-card-title>Acceso Restringido</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>No tiene permisos para editar perfiles.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
