<ion-header>
  <ion-toolbar>
    <ion-title>Inicio de Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: url('/assets/img/asd.jpg') no-repeat center center / cover;">
  <div class="login-container">
    <h2>Inicio de Sesión</h2>
    <form id="login-form">
      <div class="input-box">
        <ion-input type="text" id="username" name="username" required></ion-input>
        <span class="input-line"></span>
        <label for="username">Usuario</label>
      </div>
      <div class="input-box">
        <ion-input type="password" id="password" name="password" required></ion-input>
        <span class="input-line"></span>
        <label for="password">Contraseña</label>
      </div>
      <ion-button expand="full" type="submit">Iniciar Sesión</ion-button>
    </form>
  </div>
</ion-content>
